<!DOCTYPE html>
<html>
  <head>
    <meta property="og:url" content=<%= url %> /> 
    <meta property="og:title" content= <%= title %> />
    <meta property="og:description" content= <%= description %> />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rutti_bep" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
        <% include ../partials/header %>
  </header>
  <body>
    <h1><%= title %></h1>
    <p><%- blogText %><p>
  </body>
</html>
